<div class="topnav">


  <img class="logo" src="https://miit.ru/content/T_rus.svg?id_wm=867987" alt="Транспортный университет"
       [routerLink]="['/login']" [routerLinkActive]="['is-active']">
  <a [routerLink]="['/home']" [routerLinkActive]="['is-active']" [class.focused]="isRoute('/home')">Главная</a>
  <a [routerLink]="['/catalogue']" [routerLinkActive]="['is-active']" [class.focused]="isRoute('/catalogue')">Каталог</a>
  <a [routerLink]="['/pass-book']" [routerLinkActive]="['is-active']" [class.focused]="isRoute('/pass-book')">Срок сдачи книги</a>
  <a [routerLink]="['/admin']" [routerLinkActive]="['is-active']" [class.focused]="isRoute('/admin')">Админ панель</a>
</div>
