<div class="background">
  <div class="choose-bk">
    <div class="filter">
      <p>Фильтры</p>
      <mat-chip-listbox aria-label="Color selection">
        <mat-chip-option >Жанры</mat-chip-option>
        <mat-chip-option >Авторы</mat-chip-option>
        <mat-chip-option >Книги</mat-chip-option>
      </mat-chip-listbox>
      <!-- <div class="knopochki">
        <button type="button">Автор</button>
        <button type="button">Книга</button>
        <button type="button">Жанр</button>
      </div> -->
      <form class="search-form">
        <mat-form-field class="search-line" >
          <!-- <mat-label>Поиск</mat-label> -->
          <input matInput placeholder="Поиск" >
          <button  matSuffix mat-icon-button  aria-label="Search">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </form>
      <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="viewport">
        <div *cdkVirtualFor="let item of items" class="item">{{item}}</div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>

  <div class="info-bk">
    <div class="ID">
      <p>Информация</p>
      <span>Book ID</span>
      <aside>...</aside>
      <main>...</main>
    </div>
    <div class="discription">
      <span>Описание</span>
      <aside>...</aside>
      <main>...</main>
    </div>
    <div class="count">
      <span>Кол-во книг</span>
    </div>
    <button type="button">Сохранить</button>
  </div>
</div>