
.viewport {
  height: 200px;
  width: 200px;
  border: 3px solid #163e73;
  padding: 2em;
}

.item {
  height: 10px;
  padding: 1em;
}

p {
  padding-top: 1em;
  font-size: 1.5em;
}

.name-quantity-container {
  display: flex;
  flex-direction: row;
  gap: 4em;
  padding-top: 2em;
  justify-content: center;
}


.background {
  background-image: url('/assets/media/tile_background 3 (1).png');
  background-size: contain;
  background-repeat: repeat;
  display: flex;
  flex-direction: row;
  gap: 2em;
  height: 93vh;
  justify-content: center;
}

.filter-container {
  font-family: "Navigo";
  flex: 1;
  font-size: 1.3em;
  //display: block;
  color: #163e73;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 30vw;
  //height: 100%;
}
.mat-chip-list{
  padding-top: 1em;
}
.info-container {
  font-family: "Navigo";
  font-size: 1.3em;
  flex: 1;
  //display: block;
  color: rgba(22, 62, 115, 1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  width: 30vw;
  //height: auto;

}
.info-container, .filter-container {
  padding: 1em;
  margin: 1em;
}

.description-form {
  margin-top: 1em;
  width: 100%;
}

.book-id {
  margin-top: 1em;
}

.mat-list{
  padding: 1em;

}
.card-books{
  cursor: pointer;
}

.search-line{
  padding-top: 2em;
  width: 100%;
}
.items-list {
  //height: 100%;
  //flex-grow: 1;
  height: 56vh;
  max-height: 56vh;
  border: 3px solid #163e73;
  //padding: 2em;
  overflow: scroll;
}

