.viewport {
    height: 200px;
    width: 200px;
    border: 3px solid #163e73;
    padding: 2em;
  }
  
  .item {
    height: 10px;
    padding: 1em;
  }

p {
    padding-top: 1em;
    font-size: 1.5em;
}

.background {
    background-image: url('/assets/media/tile_background 3 (1).png'); 
    background-size: auto;
    display: flex;
    padding-top: 110px;
    height: 100vh;
}

.filter {
    font-family: "Navigo";
    font-size: 1.3em;
    display: block;
    color: #163e73;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 500px;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 275px;
    padding-bottom: 1em;
}

.info-bk {
    font-family: "Navigo";
    font-size: 1.3em;
    display: block;
    color: hsl(214, 68%, 27%);
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    width: 400px;
    height: 500px;
    padding-left: 2em;
    margin-right: 275px;
    margin-left: 50px;
}

.search-form{
    margin-top: 1em;
}




// .knopochki>button {
//     margin-bottom: 10px;
//     margin-right: 10px;
//     $color: hsl(214, 68%, 27%);
//     display: inline-block;
//     padding: 0.5rem 0.5rem;
//     border-radius: 10rem;
//     color: #fff;
//     text-transform: uppercase;
//     font-size: 0.5rem;
//     letter-spacing: 0.15rem;
//     transition: all 0.1s;
//     position: relative;
//     z-index: 1;

//     &:after {
//         content: "";
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         background-color: $color;
//         border-radius: 10rem;
//         z-index: -2;
//     }

//     &:before {
//         content: "";
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         width: 0%;
//         height: 100%;
//         background-color: darken($color, 15%);
//         transition: all 0.3s;
//         border-radius: 10rem;
//         z-index: -1;
//     }

//     &:hover {
//         color: #fff;

//         &:before {
//             width: 100%;
//         }
//     }
// }
