

.main-container{
    display: flex;
    flex-direction: row;
    // background-image: url('http://obama.tplinkdns.com:8081/tile_background_1.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: aqua;
   
  }
  .categories{
    width: 30%;
    flex: 1;
    background-color: white;
    position: absolute;
    margin-left: 1em;
    margin-top: 1em;
    padding-right: 2em;
    border-radius: 10px;
    
  }

  .categories li{
    font-family: Navigo; 
    list-style-type: none;
    font-size: 18px;
    padding: 1rem;
    
    
  }
  a{
    text-decoration: none;
    color: rgba(22, 62, 115, 1);
    
    
  }
  .container{
    justify-content: end;
    width: 70%;
    flex: 3;
    background-color: white;
    
  }

  .example-card {
    max-width: 400px;
    margin-right: 100px;
    
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

