
.main-container{
  display: flex;
  //grid-template-columns: repeat(12,1fr);
  //grid-template-rows: auto;
  background-image: url('/assets/media/tile_background 3 (1).png');
  background-repeat: repeat;
  background-size: auto;
  padding: 2em;
  gap: 2em;
}
.mat-paginator-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding-bottom: 1em;
}
.mat-paginator-top{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding-top: 1em;
}

.categories_container{
  flex: 1;
  background-color: white;
  border-radius: 10px;
  width: 25%;
  height: auto;
  align-self: flex-start;
  min-width: 20%;
}
.cards_page_container{
  background-color: white;
  flex: 4;
  width: 75%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  //grid-column: 4/12;
}
.cards_container{
  background-color: white;
  //padding: 16em;
  display: grid;
  //grid-template-columns: repeat(4, 1fr); // Создает два столбца равной ширины
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 2em;
  gap: 4em;
}
@media screen and (max-width: 600px) {
  .cards_container{
    grid-template-columns: repeat(2, 1fr); // Создает два столбца равной ширины
  }
}

@media screen and (max-width: 400px) {
  .cards_container{
    grid-template-columns: 1fr; // Создает один столбец
  }
}
.book-card {
  font-family: Navigo;
  //margin-left: 7em;
  //margin-top: 1em;
  //max-width: 40%;
  //max-height: 300px;
  //margin-right: 10px;
  //margin: 2em;
  cursor: pointer;
}
.book-card-img{
  padding: 1em;
}
.categories_container li{
  font-family: Navigo;
  list-style-type: none;
  font-size: 18px;
  padding: 1rem;
}

a{
  text-decoration: none;
  color: rgba(22, 62, 115, 1);
}




.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.description-of-the-book>p{
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
  color: rgba(22, 62, 115, 1);
}
