.main-container{
  // display: flex;
  // flex-direction: row;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  background-image: url('/assets/media/tile_background 3 (1).png');
  background-repeat: repeat;
  background-size: auto;
  // background-color: aqua;
}
.categories{
  // flex: 1;
  grid-column: 2/4;
  background-color: white;
  // margin-left: 1em;
  margin-top: 1em;
  // padding-right: 3em;
  border-radius: 10px;
  max-height: 1116px;
  max-width: 250px;
}
.categories li{
  font-family: Navigo; 
  list-style-type: none;
  font-size: 18px;
  padding: 1rem;
}
a{
  text-decoration: none;
  color: rgba(22, 62, 115, 1);
}

.cards_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  grid-template-rows: 300px;
  border-radius: 10px;
  margin-left: 1em;
  margin-top: 1em;
  grid-column: 4/12;
  background-color: white; 
  justify-content: center;
}
.book-card {
  font-family: Navigo; 
  margin-left: 7em;
  margin-top: 1em;
  max-width: 40%;
  max-height: 300px;
  margin-right: 10px;
  cursor: pointer;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.description-of-the-book>p{
  margin-top: 1em;
  padding-top: 1em;
  text-align: center;
  color: rgba(22, 62, 115, 1);
}