<div class="background">
  <div class="white_fon">
    <div class="image_block"> <!-- img не открывать) -->
      <img
        src="/assets/media/library.png"
        alt="о библиотеке">
        <div class="image_info">О библиотеке</div>
    </div>
    <div class="block_1">
      <p>26 сентября 1896 г. было открыто второе в России высшее учебное заведение по подготовке инженеров — Московское
        инженерное училище (МИУ). Большое значение в учебном процессе училища имела библиотека, которая была
        предусмотрена Положением о Московском инженерном училище.</p>
      <p>Библиотека начала функционировать с 1896 г. В "Известиях МИУ" за 1897 г. на странице 65 краткого отчета о
        состоянии МИУ за 1896 г. в разделе V Учебные пособия в пункте II Библиотека приводятся сведения о фонде
        библиотеке. В библиотеке был предусмотрен один библиотекарь, и на пополнение библиотеки намечалась сумма в 2000
        рублей ежегодно. Эта сумма была весьма значительна и показывала, что учредители Училища придавали библиотеке
        большое значение, как важнейшему учебно-вспомогательному учреждению. Фактически на пополнение основной
        библиотеки отпускалось несколько более 2000 руб. в год, в среднем по 1909 г. - 2436 руб., причем, были годы,
        например, 1902 г., когда на пополнение было истрачено 5025 руб. 50 коп. </p>
      <p>С самого начала и до 1920 г. библиотекой заведовал и был ее единственным библиотекарем Владимир Павлович
        Свенцицкий, окончивший физико-математический факультет Петербургского университета. Второй библиотекарь стал
        появляться на отдельные периоды с 1910 г. Это был Орлов Владимир Владимирович - титулярный советник,
        инженер-механик, и лишь в 1915 г. Владимир Павлович Свенцицкий получил по библиотеке постоянного помощника
        Куликовского Г. И.</p>
      <p>С 1938 г. библиотека получила хорошее помещение, рассчитанное на многолетнюю перспективу, на втором этаже
        первого корпуса. Сейчас в нем находятся отделы:</p>
      <div class="list">
        <ul>
          <li>научно-технической обработки литературы</li>
          <li>комплектования</li>
          <li>справочно-библиографический </li>
          <li>обслуживания научной литературой</li>
          <li>читальный зал первого корпуса </li>
          <li>абонемент учебной литературы первого корпуса </li>
        </ul>
      </div>
      <p>Для библиотеки были заказаны специальные удобные и прочные шкафы (служат еще и теперь) и другая мебель.</p>
      <p>В начале века был четко отработан механизм управления библиотекой МИУ. Состав первоначального фонда нашей библиотеки отличался хорошим подбором научной литературы по математике, химии, электротехнике, транспорту, строительству, архитектуре, мостам, иностранным языкам.</p>
      <p>Очень важным условием развития библиотеки с начала века и до наших дней явилось непосредственное участие многих ученых в комплектовании фондов и их организации. С 1907 г. по 1916 г. включительно в МИУ стали издаваться “Известия Московского инженерного училища”, в которых печатались статьи научного и методического характера по всем отраслям науки, преподаваемым в училище. Без “Известий МИУ” не было бы написано истории библиотеки МИИТа с 1896 по 1917 г.</p>
    </div>
    <h2>Контакты</h2>
    <div class="container">
      <div class="contacts">
        <p></p>
        <p>Фундаментальная библиотека(Аудитория 1230)</p>
        <p style="color:darkgrey">+7(495) 274-02-74 доб. 3922</p>
        <p>Обслуживает все категории читателей</p>
        <p>Читальный зал фундаментальной библиотеки(Аудитория 1231)</p>
        <p style="color:darkgrey">+7(495)274-02-74 доб. 3923 </p>
        <p>Обслуживает все категории читателей</p>
        <p>Учебная библиотека ГУК-1(Аудитория 1125)</p>
        <p style="color:darkgrey">+7(495)274-02-74 доб. 3926 </p>
        <p>Обслуживает ИУЦТ</p>
        <p>Учебная библиотека ГУК-2(Аудитория 2207)</p>
        <p style="color:darkgrey">+7(495)274-02-74 доб. 3927 </p>
        <p>Обслуживает ИТТСУ, ИПСС</p>
        <p>Учебная библиотека АВТ(ул.Судостроительная, д..46, стр.1,)</p>
        <p style="color:darkgrey">+7(499)618-96-22</p>
        <p>Обслуживает АВТ</p>
      </div>
      <div class="map">
        <a href="https://yandex.ru/maps/org/nauchno_tekhnicheskaya_biblioteka_rut/1254688970/?ll=37.608701%2C55.788087&mode=search&sll=37.608701%2C55.788087&source=serp_navig&text=библиотека%20миит&z=16">
          <div class="adres_map">
            <img src="/assets/media/map.png" alt="Тут должна быть карта">
          </div>
        </a>
        <div class="under_map">
          <p></p>
          <p>127994 г.Москва, ул. Образцова д.9 стр.9</p>
          <p style="color:darkgrey">+7 (495) 247-0274</p>
        </div>
    </div>
    </div>
  </div>
</div>

  