<p style="display: flex; justify-content: center;">
  Контакты
</p>
<div style="text-align: center;">
  
  <p>
    Фундаментальная библиотека(Аудитория 1230)
  </p>
  <p>+7(495) 274-02-74 доб. 3922</p>
  <p>Обслуживает все категории читателей</p>
  <p>Читальный зал фундаментальной библиотеки(Аудитория 1231)</p>
  <p>+7(495)274-02-74 доб. 3923 </p>
  <p>Обслуживает все категории читателей</p>
  <p>Учебная библиотека ГУК-1(Аудитория 1125)</p>
  <p>+7(495)274-02-74 доб. 3926 </p>
  <p>Обслуживает ИУЦТ</p>
  <p>Учебная библиотека ГУК-2(Аудитория 2207)</p>
  <p>+7(495)274-02-74 доб. 3927 </p>
  <p>Обслуживает ИТТСУ, ИПСС</p>
  <p>Учебная библиотека АВТ(ул.Судостроительная, д..46, стр.1,)</p>
  <p>+7(499)618-96-22</p>
  <p>Обслуживает АВТ</p>
</div>


  