<div class="main-conteiner">
  <div class="white-conteiner">
    <div class="card-container" *ngFor="let card of cards.loans">
      <mat-card class="card-image-container">
        <img mat-card-image class="book-card-img" src="/assets/media/Книга (1).png" alt="Photo of book">
      </mat-card>
      <div class="description">
        <p>{{card.book.title}}</p>
        <p>Книга взята : {{card.loanDate.getDate()}}.{{card.loanDate.getMonth()+1}}.{{card.loanDate.getFullYear()}}</p>
        <p>Необходимо сдать книгу до : 11.02.2024</p>
        <p> Осталось: 20 дней </p>
      </div>
    </div>
  </div>
</div>

