
  .main-conteiner {
    background-image: url('http://obama.tplinkdns.com:8081/tile_background4.png');
    background-repeat: no-repeat;
    background-size: cover;

  }
  .conteiner{
    background-color: white;
    display: flex;
    justify-content: space-between; 
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    height: 1000px;
  }

  .card-11{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8%;
    margin-top: 1em;
    
  }

  .description{
    margin-left: 8%;
    color:rgba(22, 62, 115, 1);
  }

  .button {
    display: flex;
    flex-direction: column; /* Устанавливаем направление flex по вертикали */
    justify-content: center; /* Располагаем элементы по вертикали по центру */
    align-items: center;
  }

  .title {
    margin-top: 5px;
    color:rgba(22, 62, 115, 1);
  }

  .demo-inline-calendar-card {
    // display: flex;
    width: 350px;
    margin-right: 8%;
    margin-top: 1em;
    background-color: rgba(234, 238, 242, 1);
    border-radius: 10px;
    border: 2px solid rgba(22, 62, 115, 1);
    max-height: 400px;
  }
  .card-1{
    display: flex;
    width: 300px;
    height: 400px;
    border: 1px solid rgba(22, 62, 115, 1);
  }
p{
  font-family: 'Navigo';
}


  