
  .main-conteiner{
    display: flex;
    background-image: url('http://obama.tplinkdns.com:8081/tile_background_1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .conteiner{
    background-color: white;
    position: absolute;
    margin-top: 1em;
    margin-left: 56px;
    width: 1400px;
    height: 2000px;
    border-radius: 10px;
  }

  