<div class="main-conteiner">
  <div class="white-conteiner">
    <div class="card-container" *ngFor="let card of cards.loans">
      <div class="card-image-container">
        <mat-card class="card-image">
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="description">
        <p>{{card.book.title}}</p>
        <p>Книга взята : {{card.loanDate.getDate}}</p>
        <p>Необходимо сдать книгу до : 11.02.2024</p>
        <p> Осталось: 20 дней </p>
      </div>
    </div>
  </div>
</div>

