
.main-conteiner {
  background-image: url('/assets/media/tile_background 3 (1).png');
  background-repeat: repeat;
  background-size: auto;
  background-clip: border-box;
  padding: 1em;
}
.white-conteiner{
  background-color: white;
  display: block;
  flex-direction: column;
  border-radius: 10px;
}

.card-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8%;
  padding-top: 4em;
  padding-bottom: 4em;
}

.description{
  margin-left: 8%;
  color:rgba(22, 62, 115, 1);
  width: 100%;
}

.card-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
p{
font-family: 'Navigo';
}
